{% extends 'index.html' %}

{% block body %}


    
<!--Login--> 
<div class="container py-5">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {{ login_form }}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href="{% url 'register'   %}">Create an account</a>.</p>
  </div>



    <!-- <form method="POST">
        {% csrf_token %}
        {% if error %}
            {{ error }}

        {% endif %}
        {{form.as_p}}
        <input type="submit" value="Login"/>
    <button type="submit" >Submit</button> -->
       <!-- {{ user.username }}
       {{ user.password }} -->
        


    </form>

{% endblock body %}
