{% extends 'index.html' %}

{% block body %}


<!-------------------------------------------------------------------------------------------------------------------------------->

    
        <div>
            <h3> post number: {{post.id}}</h3>
            <h1>
                {% block title %}
                    {{ post.title }}
                {% endblock title %}
            </h1>
<!-------------------------------------------- post ba detail------------------------------------------>

            <p >{{ post.author.first_name }} | {{ post.created }}</p>
            <img src="{{ post.image.url }}" width="300" height="300">
            <p >{{post.description}}</p>
        </div>

        
<!-------------------------------------- comments----------------------------------------------------->
          
                <h3>{{ comments.count }} comments</h3>
                <h3>{{ likes.count }} Likes</h3>
                <hr>
                {% for comment in comments %}
                
                <p>
                    {{ comment.post.author.first_name }}
                    <span >
                    {{ comment.created }}
                    </span>
                </p>
                {{ comment.content }}
                <hr>
            
                {% endfor %}

<!-------------------------------------------------like--------------------------------------------->


<!--    < form action="" method="POST" >-->

<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="post\_id" value="{{ post.id }}">-->
<!--                    {% if author not in post.likes.all %}-->

<!--                        <button class="btn btn-success" id="like" type="submit">Like</button>-->

<!--                    {% else %}-->

<!--                        <button class="btn btn-danger" id="unlike" type="submit">UnLike</button>-->

<!--                    {% endif %}-->
<!--                </form>-->
<!-------------------------------------- comment -------------------------------------------------------->
                {% if user.is_authenticated %}

                        <p>{{ comments.user}}  نظر بدهید :</p>

                        <form method="POST">
                            {{comment_form.as_p }}
                            {% csrf_token %}
                            <button type="submit" >Submit</button>
                        </form>

                {% else %}
                   <p><a href="{% url 'login'   %}" >login</a> : برای کامنت گذاشتن ابتدا وارد شوید</p>

            {% endif %}
{% for comment in comments %}
{{ comment.user }}
{% endfor %}

{% endblock body %}