{% extends 'index.html' %}

{% block body %}



<!--------------------------------------- search filter-------------------------------------------->

        <form method="GET">

                <p> {{my_filter.form.as_p}} </p>
                <br>
            <button type="submit" >جستجو</button>

        </form>


<!----------------------------------------------------- post ------------------------------------->

    {% if post_list %}   
        <p>پست ( {{ post_list.count }} ) </p><p></p>

    {% else %}
        <p>هیچ پستی پیدا نشد</p>

    {% endif %}

            <hr><hr><hr>

<!------------------------------------------------- post ha------------------------------------------->
{% if post_list %}

            {% for post in post_list %}
                    <div >
                        <h2 >{{ post.title }}</h2>
                        <img src="{{ post.image.url }}" width="300" height="300">
                        <p> {{ post.author.first_name}} | {{ post.published}} | {{post.status}} </p>
                        <p> {{post.description|slice:":100" }}</p>
                        <p><a href="{% url 'post_details' post.slug  %}" >More  | {{ post.comments.count }} comments</a></p>
                        <hr>
                    </div>
            
            {% endfor %}


{% else %}

            <p style="color:deeppink;" > post nadarim  </p>

{% endif %}

{% endblock body %}